.Portfolio.container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.Portfolio.container h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
}

.Portfolio.container .images{
    display: flex;
    justify-content: space-evenly;
}

.Portfolio.container .images .image1{
    background-image: url(../../Assets/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 460px;
    border-radius: 2rem;
    cursor: pointer;
}

.Portfolio.container .images .image2{
    background-image: url(../../Assets/pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 510px;
    border-radius: 2rem;
    cursor: pointer;
}

.Portfolio.container .images .image3{
    background-image: url(../../Assets/pic3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 560px;
    border-radius: 2rem;
    cursor: pointer;
}

.images div a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    margin-left: 1rem;
    margin-top: auto;
    opacity: .8;
    transition: 1s;
}

.images div a:hover{
    opacity: 1;
}


@media (max-width: 768px) {
    .Portfolio.container .images{
        flex-direction: column;
    }
}

